*.vim*
*.swp
tags
*build/*
*out/*
*.out*
*cache/*
*catche/*
*data/*
*.data*
*.log*
*log/*
*.aux 
*.bbl 
*.blg 
*.bst 
*.dvi 
*.fdb_latexmk 
*.fls 
*.idx 
*.lof 
*.nav 
*.snm 
*.synctex.gz 
*.toc 
*.run.xml 
*-blx.bib 
*.auto 
document.pdf
*.bcf
